{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Novo usuario - {{ block.super}}
{% endblock title %}

{% block body %}

<br />
<p>Alterar usuario</p>
<br />
<br />
<form action="" method="POST">
{% csrf_token %}
    <label>Primerio nome</label>
    <br />
    {{ form.first_name|attr:"autofocus" }}
    <br />
    <br />
    <label>Sobrenome</label>
    <br />
    {{ form.last_name }}
    <br />
    <br />
    <label>E-mail</label>
    <br />
    {{ form.email }}
    <br />
    <br />
    <button type="submit">Salvar</button>
</form>

{% endblock body %}