{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Trocar senha - {{ block.super}}
{% endblock title %}
    
{% block body %}
    
<br />
<br />
<p>Alterar Senha</p>
<form action="" method="POST">
{% csrf_token %}
    <label>Senha anterior</label>
    <br />
    {{ form.old_password|attr:"type:password" }}
    <br />
    <br />
    <label>Nova senha</label>
    <br />
    {{ form.new_password1|attr:"type:password" }}
    <br />
    <br />
    <label>Confirmar nova senha</label>
    <br />
    {{ form.new_password2|attr:"type:password" }}
    <br />
    <br />
    <button type="submit">Atualizar</button>
</form>
    
{% endblock body %}
