{% extends 'base.html' %}

{% block title %}

    Adicionar Produto - {{ block.super }}

{% endblock title %}

{% block body %}

<br />
<b>Cadastro de Produto</b>
<br />
<br />
<form action="" method="POST" enctype="multipart/form-data"> 
{% csrf_token %}
    <label>Nome</label>
    <br />
    {{ form.name }}
    <br />
    <br />
    <label>Descricao</label>
    <br />
    {{ form.description}}
    <br />
    <br />
    <label>Data de fabricacao</label>
    <br />
    {{ form.date_fabrication}}
    <br />
    <br />
    <label>Ativar</label>
    <br />
    {{ form.is_active }}
    <br />
    <br />
    <label>Categoria</label>
    <br />
    {{ form.category }}
    <br />
    <br />
    <label>Foto</label>
    <br />
    {{ form.photo }}
    <br />
    <br />
    <label>Documentos</label>
    <br />
    {{ form.doc }}
    <br />
    <br />
    <button type="submit">Salvar</button>       
</form>

{% endblock body %}