{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/arquivo_com_estilos.css' %}">
    <title>{% block title %}Modelo App{% endblock title %}</title>
</head>
<body>
    <a href="{% url 'core:home' %}" ><img src="{% static 'img/menu.png' %}" width="200" height="60" /></a>
    <br/>

    <br />
    <a href="{% url 'categories:list_categories' %}" ><button onclick="mudarCor()">Categorias</button></a>
    <a href="{% url 'products:list_products' %}" ><button onclick="mudarCor()">Produtos</button></a>
    <a href="{% url 'socialNetworks:list_socialNetworks' %}" ><button onclick="mudarCor()">Redes</button></a>
    <a href="{% url 'clients:list_clients' %}" ><button onclick="mudarCor()">Clientes</button></a>
    <a href="{% url 'orders:list_orders' %}" ><button onclick="mudarCor()">Pedidos</button></a>
    <br />
    
    {% if user.is_authenticated %}
    <br />
    <a href="{% url 'core:home' %}"><button>{{ user.get_full_name|default:user.username }}</button></a>
    <a href="{% url 'accounts:user_change_information' user.username %}"><button>Conta</button></a>
    <a href="{% url 'accounts:user_change_password' %}"><button>Trocar senha</button></a>
    <a href="{% url 'accounts:user_logout' %}"><button>Sair</button></a>
    <br />

    {% else %}
    <br>
    <a href="{% url 'accounts:add_user' %}"><button>Login</button></a>

    {% endif %}


    <br />
    <br />
    <form action="{% url 'clients:search_clients' %}" method="GET">
        <input name="query" type="text" placeholder="Sobrenome do cliente" aria-label="Buscar">
        <button style="height: 24px;" type="submit">Buscar</button>
    </form> 
    
    {% block body %}
    
    {% endblock body %}
    
    <script src="{% static 'js/arquivo_com_javascript.js' %}"></script>
</body>
</html>