{% extends 'base.html' %}

{% block title %}

    Adicionar Cliente - {{ block.super }}

{% endblock title %}

{% block body %}

<br />
<b>Cadastro de Cliente</b>
<br />
<br />
<form action="" method="POST">
{% csrf_token %}
    <label>Nome</label>
    <br />   
    {{ form.first_name }}
    <br />
    <br />
    <label>Sobrenome</label>
    <br />    
    {{ form.last_name }}
    <br />
    <br />
    <label>Endereco</label>
    <br />    
    {{ form.address }}
    <br />
    <br />
    <label>Telefone</label>
    <br />    
    {{ form.cell_phone }}
    <br />
    <br />
    <label>E-mail</label>
    <br />   
    {{ form.email}}
    <br />
    <br />
    <label>Genero</label>
    <br />   
    {{ form.gender }}
    <br />
    <br />
    <label>Redes sociais</label>
    <br />    
    {{ form.client_socialnetwork }}
    <br />
    <br />
    <button type="submit">Salvar</button>       
</form>

{% endblock body %}
